.SwipeViewsContainer {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.SwipeViewsHeader {
  min-height: 40px;
  border-bottom: #F0F0F0 4px solid;
  display: flex;
  flex-flow: row nowrap;
}

.SwipeViewsTabs {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: -4px;
}

.SwipeViewsTabs > ul {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}

.SwipeViewsTab {
  display: inline;
  padding-top: 15px;
  flex: 1;
  text-align: center;
}

.SwipeViewsTab > a {
  text-decoration: none;
  color: black;
}

.SwipeViewsTabs .active {
  color: #FF6950;
}

.SwipeViewsInk {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  height: 4px;
  background-color: #FF6950;
  border-radius: 5px;
}

.SwipeViews {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: hidden;
}

.SwipeView {
  overflow-y: scroll;
}
