html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

section {
  height: 100%;
}

.SwipeViewsTab {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #CCCCCC;
}

.SwipeView {
  padding: 10px;
}
